<?xml version="1.0" encoding="UTF-8"?>
<configuration   scan = "true" debug = "false" >
   <!-- logback项目名称-->
    <property name="appName" value="blogImage"/>
    <!--日志级别-->
    <property name="logLevel" value="INFO"/>
   <!-- 日志地址-->
    <property name="logPath" value="./log"/>
    <!--最大保存时间-->
    <property name="maxSize" value="3"/>
    <!--异步缓冲队列-->
    <property name="queueSize" value="256"/>
    <!--格式化-->
    <!--<property name="logPattern"-->
           <!--    value="%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg %n"></property>-->
   <!-- <property name="logPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] %logger{51} - %msg %n"></property>-->

    <!--控制台输出-->
    <appender name ="STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] %logger{100} - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name = "org.springframework"  level = "INFO"  additivity ="false" >
        <appender-ref ref="STDOUT"/>
</logger>
    <logger name="org.apache"   level="info" additivity ="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name = "org.quartz"  level = "error"  additivity ="false">
        <appender-ref ref="STDOUT"/>
    </logger>


    <root level = "debug" >
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>